---
import Layout from '../layouts/Layout.astro';
import VideoGrid from '../components/VideoGrid'

---

<Layout title="Clases">
	<main>
        <section class="clases_hero">
            <div class="section_title">
                <h1 class="text-3xl mt-4 font-semibold">Amplíe su experiencia médica</h1>
                <p class="pt-8 text-center mb-16">Explora nuestra selección curada de cursos en línea en el área de medicina, abarcando una amplia gama de temas para profundizar tu conocimiento y habilidades clínicas</p>
            </div>
            <VideoGrid client:load></VideoGrid>
        </section>
	</main>
</Layout>

<style>
    .clases_hero{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 3rem;
    }
    .section_title{       
        width: 50%; 
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    @media (max-width: 800px) {
        .section_title{
            width: 70%;
        }
    }
</style>