---
import Layout from "../layouts/Layout.astro";
import TopicsGrid from "@/components/TopicsGrid";
import ResourceCard from "@/components/ui/ResourceCard.astro";
import Home from "@/components/Home";
import CardSuscription from "@/components/CardSuscription.astro";

---

<Layout title="Red Medical Advisor.">
	<main>
		<section class="flex justify-center items-center px-20 py-40 w-auto text-white">
			<Home />
		</section>
		<section class="inicio-temas">
			<TopicsGrid />
		</section>

		<section id="recursos" class="inicio-recursos">
			<h2>Expande tus conocimientos medicos</h2>
			<div class="inicio-recursos-grid">
				<ResourceCard
					icon="📚"
					title="Biblioteca Digital"
					description="Accede a nuestra colección de PDFs y libros médicos cuidadosamente seleccionados"
					link="/Recursos"
				/>
				<ResourceCard
					icon="🎥"
					title="Videotutoriales"
					description="Aprende con nuestros videos explicativos sobre procedimientos y conceptos médicos"
					link="/Clases"
				/>
				<ResourceCard
					icon="🔬"
					title="Foro"
					description="Platíca con una comunidad de medicos y expandan juntos sus conocimientos"
					link="/Foro"
				/>
				<ResourceCard
					icon="👩‍⚕️"
					title="Tutorías"
					description="Agenda sesiones one-on-one con expertos en tu área de interés"
					link="/Tutorias"
				/>
			</div>
		</section>
		<section id="suscripciones" class="inicio-planes">
			<h2>Suscripciones</h2>
			<div class="planes-grid">
				<CardSuscription
					title="Gratis"
					description="Contenido limitado, pero suficiente"
					price="$00.00"
				/>
				<CardSuscription
					title="Basico"
					description="Contenido limitado, pero suficiente"
					price="$2.99"
				/>
				<CardSuscription
					title="Premium"
					description="Contenido limitado, pero suficiente"
					price="$3.99"
				/>
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		background-color: #ca3555;
		color: rgb(0, 0, 0);
	}


	.inicio-temas {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: #f4f4f5;
	}

	.inicio-recursos {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: #f4f4f5;
		width: auto;
	}

	.inicio-recursos h2 {
		font-size: 32px;
		font-weight: bold;
		margin: 0 auto;
		text-align: center;
		width: 400px;
	}

	.inicio-recursos-grid {
		display: grid;
		grid-template-columns: repeat(
			auto-fit,
			minmax(230px, 1fr)
		); /* Flexibilidad en el número de columnas */
		gap: 2rem;
		margin: 0 auto;
		margin-bottom: 10rem;}

	.inicio-temas {
		padding: 5rem 0rem;
	}

	.inicio-planes {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: #f4f4f5;
		width: auto;
	}

	.inicio-planes h2 {
		font-size: 32px;
		font-weight: 700;
		margin: 0 auto;
	}
	.planes-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
		margin: 0 auto;
		margin-bottom: 10rem;
		padding:  5%;
	}
	@media (max-width: 768px) {
		.inicio-recursos-grid {
			padding: 3rem 2rem; /* Ajuste del padding */
		}
		.planes-grid{
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (max-width: 579px) {
		.inicio-recursos-grid {
			padding: 2rem 1rem; /* Ajuste del padding para pantallas muy pequeñas */
			grid-template-columns: 1fr; /* Una sola columna en pantallas móviles */
		}
		.planes-grid{
			grid-template-columns: repeat(1, 1fr);
		}
	}
	@media (min-width: 1200px) {
		
		.inicio-recursos-grid {
			max-width: 1200px; /* Máximo ancho de la cuadrícula en pantallas grandes */
		}
	}
</style>
