---
import Layout from "../layouts/Layout.astro";
import TopicsGrid from "@/components/TopicsGrid";
import ResourceCard from "@/components/ui/ResourceCard.astro";
import Home from "@/components/Home";
import CardSuscription from "@/components/CardSuscription.astro";
import MemberCard from "@/components/ui/cardMember";

---

<Layout title="Red Medical Advisor.">
	<main>
		<section class="home">
			<Home />
		</section>
		<section class="inicio-temas">
			<TopicsGrid />
		</section>

		<section id="recursos" class="inicio-recursos">
			<h2>Expande tus conocimientos medicos</h2>
			<div class="inicio-recursos-grid">
				<ResourceCard
					icon="📚"
					title="Biblioteca Digital"
					description="Accede a nuestra colección de PDFs y libros médicos cuidadosamente seleccionados"
					link="/Recursos"
				/>
				<ResourceCard
					icon="🎥"
					title="Videotutoriales"
					description="Aprende con nuestros videos explicativos sobre procedimientos y conceptos médicos"
					link="/Clases"
				/>
				<ResourceCard
					icon="🔬"
					title="Foro"
					description="Platíca con una comunidad de medicos y expandan juntos sus conocimientos"
					link="/Foro"
				/>
				<ResourceCard
					icon="👩‍⚕️"
					title="Tutorías"
					description="Agenda sesiones one-on-one con expertos en tu área de interés"
					link="/Tutorias"
				/>
			</div>
		</section>
		<section id="conocenos" class="inicio-conocenos">
			<h2>Conoceno a nuestro equipo</h2>
			<div class="conocenos-grid">
				<MemberCard
					member={{
						name: "Abdiel Avila",
						date: "2024",
						image: "/perfil1.webp"
					}}
				/>
				<MemberCard
					member={{
						name: "Mario Lozano",
						date: "2024",
						image: "/perfil1.webp"
					}}
				/>
				<MemberCard
					member={{
						name: "Gohan Gonzales",
						date: "2024",
						image: "/perfil1.webp"
					}}
				/>
			</div>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		min-height:100vh;
    	width: 100%; 
		color: rgb(0, 0, 0);
	}

	.home{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5rem;
		width: auto;
		background-image: url('/background-1.webp');
      	background-size: cover;
    	background-repeat: no-repeat;
      	background-position: center;
	}

	.inicio-temas {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: #ffffff;
	}

	.inicio-recursos {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: #ffffff;
		width: auto;
	}

	.inicio-recursos h2 {
		font-size: 32px;
		font-weight: bold;
		margin: 0 auto;
		text-align: center;
		width: 400px;
	}

	.inicio-recursos-grid {
		display: grid;
		grid-template-columns: repeat(
			auto-fit,
			minmax(230px, 1fr)
		); /* Flexibilidad en el número de columnas */
		gap: 2rem;
		margin: 0 auto;
		margin-bottom: 10rem;}

	.inicio-temas {
		padding: 5rem 0rem;
	}

	.inicio-conocenos {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: #ffffff;
		width: auto;
	}

	.inicio-conocenos h2 {
		font-size: 32px;
		font-weight: 700;
		margin: 0 auto;
	}
	
	.conocenos-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
		margin: 0 auto;
		margin-bottom: 10rem;
		padding:  5%;
	}

	@media (max-width: 1024px) {
		.conocenos-grid{
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (max-width: 768px) {
		.inicio-recursos-grid {
			padding: 3rem 2rem; /* Ajuste del padding */
		}
		
		.conocenos-grid{
			grid-template-columns: repeat(1, 1fr);
		}
	}
	@media (max-width: 579px) {
		.home{
			background-image: none;
		}
		.inicio-recursos-grid {
			padding: 2rem 1rem; /* Ajuste del padding para pantallas muy pequeñas */
			grid-template-columns: 1fr; /* Una sola columna en pantallas móviles */
		}
		.planes-grid{
			grid-template-columns: repeat(1, 1fr);
		}
	}
	@media (min-width: 1200px) {
		.inicio-recursos-grid {
			max-width: 1200px; /* Máximo ancho de la cuadrícula en pantallas grandes */
		}
	}
</style>
