---
import Profile from "@/components/Profile";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Perfil">
    <main>
        <section class="Perfil">
            <Profile client:idle/>
        </section>
    </main>
</Layout>

<style>
    .Perfil{
        margin-top: 4rem;
    }
</style>