:root{
  --popover-bg: #ffffff; /* Color de fondo del popover */
  --popover-foreground: #333333; /* Color del texto en el popover */
  --muted-bg: #f0f0f0;
}

.principal {
  max-width: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
}

.filter-box {

  padding: 1.25rem;
  width: 100%;
  z-index: 10;
  margin-top: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.text-filtrar {
  font-size: medium;
}

.child-box {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.container-filtros {
  padding: 20px; 
  width: 100%; 
  z-index: 1;
  margin-top: 0;
  box-sizing: border-box; 
}

.category-box{
  width: 14rem;
}

.document-grid-container {
  padding: 30px 20px 20px 20px;
  margin-top: 0rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.document-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 100%;
  width: 100%;
}

@media (max-width: 1024px) {
  .document-grid {
      grid-template-columns: repeat(3, 1fr);  
  }
}

@media (max-width: 768px) {
  .document-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  }
}

@media (max-width: 480px) {
  .document-grid {
      grid-template-columns: 1fr; 
  }
}

.text-box {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #333;
}

.text-docu {
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.4;
}

.text {
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  color: #333;
}

.card {
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding-left: 16px; 
  padding-right: 16px;  
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
}

.thumbnail-container {
  position: relative;
}

.thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.content{
  padding: 15px;
}

.document-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.document-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.4;
}

.btn {
  font-size: 12px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4000rem;
  border: 1px solid #4d4d4d; 
  transition: border-color 0.3s ease; 
  margin-bottom: 16px;
}

.btn-white {
  background-color: white; 
  color: #333;
}

.btn-white:hover {
  background-color: #f1f1f1;
  border-color: transparent; 
}

.btn-outline {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  background-color: transparent;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-outline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.4s ease;
}

.btn-outline:hover::after {
  width: 100%;
}

.btn-outline:hover {
  background-color: transparent;
  border-color: transparent;
}

.dropDownMenu {
    position: relative;
    display: flex;
    cursor: default;
    user-select: none;
    align-items: center;
    border-radius: 0.125rem;
    padding-top: 0.375rem; 
    padding-bottom: 0.375rem; 
    padding-left: 2rem;
    padding-right: 0.5rem;
    font-size: 0.875rem; 
    outline: none;
    transition: background-color 0.2s ease, color 0.2s ease; 
  }
  
  .dropDownMenu:focus {
    background-color: rgb(226, 226, 226);
    color: var(--accent-foreground);
  }
  
  .dropDownMenu[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  .SubTrigger {
    display: flex;
    cursor: default;
    gap: 0.5rem; /* gap-2 */
    user-select: none;
    align-items: center;
    border-radius: 0.125rem; /* rounded-sm */
    padding-left: 0.5rem; /* px-2 */
    padding-right: 0.5rem; /* px-2 */
    padding-top: 0.375rem; /* py-1.5 */
    padding-bottom: 0.375rem; /* py-1.5 */
    font-size: 0.875rem; /* text-sm */
    outline: none;
  }
  
  .SubTrigger:focus {
    background-color: var(--accent); /* focus:bg-accent */
  }
  
  .SubTrigger[data-state="open"] {
    background-color: var(--accent); /* data-[state=open]:bg-accent */
  }
  
  .SubTrigger svg {
    pointer-events: none; /* [&_svg]:pointer-events-none */
    width: 1rem; /* [&_svg]:size-4 (equivalente a 1rem) */
    height: 1rem; /* [&_svg]:size-4 (equivalente a 1rem) */
    flex-shrink: 0; /* [&_svg]:shrink-0 */
  }
  
  
.PrimitiveItem{
  position: relative;
  display: flex;
  cursor: default;
  user-select: none;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.125rem;
  padding-left: 0.5rem; 
  padding-right: 0.5rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem; 
  font-size: 0.875rem; 
  outline: none;
  transition: background-color 0.2s ease, color 0.2s ease; 
}

.PrimitiveItem:focus {
  background-color: var(--accent);
  color: var(--accent-foreground);
}

.PrimitiveItem[data-disabled] {
  pointer-events: none;
  opacity: 0.5; 
}

.PrimitiveItem svg {
  pointer-events: none; 
  width: 1rem; 
  height: 1rem;
  flex-shrink: 0; 
}



.PrimitiveContent {
  z-index: 50; /* z-50 */
  min-width: 8rem; /* min-w-[8rem] */
  overflow: hidden; /* overflow-hidden */
  border-radius: 0.375rem; /* rounded-md */
  border: 1px solid; /* border */
  background-color: var(--popover-bg); /* bg-popover */
  padding: 0.25rem; /* p-1 */
  color: var(--popover-foreground); /* text-popover-foreground */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
}

/* Animaciones y transiciones basadas en el estado */
.PrimitiveContent[data-state="open"] {
  animation: fadeIn 0.3s ease-in-out, zoomIn 0.3s ease-in-out;
}

.PrimitiveContent[data-state="closed"] {
  animation: fadeOut 0.3s ease-in-out, zoomOut 0.3s ease-in-out;
}

/* Desaparecer (fade-out) y aparecer (fade-in) */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Efectos de zoom */
@keyframes zoomIn {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

/* Efectos de deslizamiento en función de la posición (side) */

.PrimitiveContent[data-side="left"] {
  animation: slideInFromRight 0.3s ease-in-out;
}

.PrimitiveContent[data-side="right"] {
  animation: slideInFromLeft 0.3s ease-in-out;
}

.PrimitiveContent[data-side="top"] {
  animation: slideInFromBottom 0.3s ease-in-out;
}

/* Animaciones de deslizamiento */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/***********************************/
.ItemIndicatorBox {
  position: absolute; /* absolute */
  left: 0.5rem; /* left-2 (equivale a 0.5rem) */
  display: flex; /* flex */
  height: 0.875rem; /* h-3.5 (equivale a 0.875rem) */
  width: 0.875rem; /* w-3.5 (equivale a 0.875rem) */
  align-items: center; /* items-center */
  justify-content: center; /* justify-center */
}

/*************************************/



.ItemIndicator {
  z-index: 50; /* z-50 */
  min-width: 8rem; /* min-w-[8rem] */
  overflow: hidden; /* overflow-hidden */
  border-radius: 0.375rem; /* rounded-md */
  border: 1px solid; /* border */
  background-color: var(--popover-bg); /* bg-popover */
  padding: 0.25rem; /* p-1 */
  padding-left: 2rem;
  color: var(--popover-foreground); /* text-popover-foreground */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-lg */
}

/* Animaciones y transiciones basadas en el estado */
.ItemIndicator[data-state="open"] {
  animation: fadeIn 0.3s ease-in-out, zoomIn 0.3s ease-in-out;
}

.ItemIndicator[data-state="closed"] {
  animation: fadeOut 0.3s ease-in-out, zoomOut 0.3s ease-in-out;
}



/* Desaparecer (fade-out) y aparecer (fade-in) */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Efectos de zoom */
@keyframes zoomIn {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

/* Efectos de deslizamiento en función de la posición (side) */
.SubContent[data-side="bottom"] {
  animation: slideInFromTop 0.3s ease-in-out;
}

.SubContent[data-side="left"] {
  animation: slideInFromRight 0.3s ease-in-out;
}

.SubContent[data-side="right"] {
  animation: slideInFromLeft 0.3s ease-in-out;
}

.SubContent[data-side="top"] {
  animation: slideInFromBottom 0.3s ease-in-out;
}

/* Animaciones de deslizamiento */
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}


.PrimitiveLabel {
  padding-left: 0.5rem; /* px-2 */
  padding-right: 0.5rem; /* px-2 */
  padding-top: 0.375rem; /* py-1.5 */
  padding-bottom: 0.375rem; /* py-1.5 */
  font-size: 0.875rem; /* text-sm */
  font-weight: 600; /* font-semibold */
}

.Separator {
  margin-left: -0.25rem; /* -mx-1 */
  margin-right: -0.25rem; /* -mx-1 */
  margin-top: 0.25rem; /* my-1 */
  margin-bottom: 0.25rem; /* my-1 */
  height: 1px; /* h-px */
  background-color: var(--muted-bg); /* bg-muted (utilizando una variable CSS para el color de fondo) */
}

.Shortcut{
  margin-left: auto; /* ml-auto */
  font-size: 0.75rem; /* text-xs */
  letter-spacing: 0.05em; /* tracking-widest */
  opacity: 0.6;
}
